<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/currency/admin/index">
    <div class="sidebar-brand-icon">
      <img src="/img/text0.JPG">
    </div>

  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" href="/currency/admin/index">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Orders
  </div>

  <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrapb"
        aria-expanded="true" aria-controls="collapseBootstrapb">
        <i  class="fa fa-plus-circle"></i>
        <span>Product Information</span>
      </a>
      <div id="collapseBootstrapb" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Product Information</h6>
          <a class="collapse-item" href="/currency/admin/add-product">Add Product</a>
          <a class="collapse-item" href="/currency/admin/products">all Product</a>
        </div>
      </div>
    </li> -->
  <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrapa"
        aria-expanded="true" aria-controls="collapseBootstrapa">
        <i class="fa fa-th-large"></i>
        <span>Accessories</span>
      </a>
      <div id="collapseBootstrapa" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Accessories Information</h6>
          <a class="collapse-item" href="/currency/admin/add-accessories">Accessories</a>
      
        </div>
      </div>
    </li> -->
  <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrapa"
        aria-expanded="true" aria-controls="collapseBootstrapa">
        <i class="fa fa-th-large"></i>
        <span>Cetagory</span>
      </a>
      <div id="collapseBootstrapa" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Cetagory Information</h6>
          <a class="collapse-item" href="/currency/admin/add-cetagory">Cetagory</a>
      <a class="collapse-item" href="/currency/admin/add-cetagory">Cetagory</a>
        </div>
      </div>
    </li> -->



  <li class="nav-item">
    <a class="nav-link collapsed" href="/currency/admin/order" aria-controls="collapseTable">
      <i class="fas fa-fw fa-table"></i>
      <span>Sell Order</span>
    </a>

  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/currency/admin/buyorder" aria-controls="collapseTable">
      <i class="fas fa-fw fa-table"></i>
      <span>Buy Order</span>
    </a>
  
  </li>

  <hr class="sidebar-divider">
  <div class="sidebar-heading">

  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/currency/admin/alluser" aria-expanded="true"
      aria-controls="collapseBootstrapd">
      <i class="fa fa-users"></i>
      <span>User</span>

    </a>

  </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="/currency/admin/accountnumber" aria-expanded="true" aria-controls="collapseBootstrapd">
        <i class="fa fa-users"></i>
        <span>Payment Account</span>
    
      </a>
    
    </li>
  

  <hr class="sidebar-divider">
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrapa" aria-expanded="true"
      aria-controls="collapseBootstrapa">
      <i class="fa fa-th-large"></i>
      <span>Settings</span>
    </a>
    <div id="collapseBootstrapa" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Application settings</h6>
        <a class="collapse-item" href="/currency/admin/rate">Sell Rate</a>
        
        <a class="collapse-item" href="/currency/admin/buyprice">Buy Rate </a>
        <hr>
        <a class="collapse-item" href="/currency/admin/add-about" >About Page</a>
        <a class="collapse-item" href="/currency/admin/add-privacy" >Privacy Page</a>
        
      </div>
    </div>
  </li>




</ul>