<%- include('../includes/head.ejs') %>
    </head>
    <link rel="stylesheet" href="/css/contact.css">
    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="container">
            <section id="contact" class="contact">
                <div class="container">
                    <h1 class="section-heading">Contact <span>me</span></h1>
                    <p>Let me know if you have any question.</p>
                    <div class="card-wrapper">
                        <div class="cards d-flex">
                           
                        <a href="#" class="" title="phone"><i class="fa fa-phone"></i></a>
                           
                            <h6>01763553147</h6>
                        </div>
                        <div class="cards d-flex">

                        <a href="#" class="" title="email"><i class="fa fa-envelope-open"></i></a>
                            <h6>sakibhasan9640@gmail.com</h6>
                        </div>
                        <div class="cards d-flex">
                           
                           
                            <a href="#" class="" title="what'sup"><i class="fa fa-location-arrow"></i></a>
                            <h6 >Dhaka , DUET Gazipur </h6>
                        </div>
                       
                    </div>
                    
                </div>
            
            </section>
        </div>
            <%- include('../includes/end.ejs') %>           