<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/head.css">
    </head>

    <style>
        .aboutlist{
            padding-top: 6rem;
        }
        .aboutlist h2{
            text-align: center;
        }
        ol{
            color: #dc3545;
        }
    </style>
    <body>
        <%- include('../includes/navigation.ejs') %>
    
        
<div class="container">
    <div class="aboutlist" >
        <h2>How It's Work</h2>
        <hr>
        <br>
        <ol>
            <li><span>01</span>
                <p>(প্রথম নিবন্ধন এবং আমাদের ওয়েবসাইটে লগইন করুন)-First Registration And login to our website</p>
            </li>
            <li><span>02</span>
                <p>(লগইন রেজিস্টেশন করার পরে আপনি buy এন্ড সেল করতে পারবেন)-After login registration you can buy and sell.</p>
            </li>
          

            <li><span>03</span>
                <p>(আমাদের পরিষেবাটি 7 দিন / সপ্তাহের দিন (সপ্তাহান্তে নেই) নিন)-Take Our Service 7 Days/Week day(No Weekend).</p>
            </li>
            <li><span>04</span>
                <p>(আপনি কম খরচে মার্কিন ডলার কিনতে পারবেন।)-You can Buy USD at low Cost.</p>
            </li>
            <li><span>05</span>
                <p>(আপনি উচ্চ হারে মার্কিন ডলার বিক্রয় করতে পারেন।)-You can Sell USD at high Rate.</p>
            </li>
            <li><span>06</span>
                <p>(যে কেউ আমাদের পরিষেবা ডলারের পাচার, সন্ত্রাসবাদী কার্যকলাপ বা অন্যান্য অপরাধের জন্য ব্যবহার করে আমরা তার জন্য দায়বদ্ধ
                থাকব না। সাইট এবং / অথবা পরিষেবাদিগুলির কোনও অপব্যবহারের জন্য আপনি দায়ী, এমনকি এটি যদি হয়)-We will not be responsible for anyone who uses our services for dollar trafficking, terrorist activities, or other
                crimes. You are responsible for any misuse of the Site and/or Services even if it is by
                </p>
            </li>
            <li><span>07</span>
                <p>(নিশ্চিন্তে আপনি মানি এক্সচেঞ্জ করতে পারেন)-You can safely exchange money.</p>
            </li>
            
    
        </ol>
    
    </div>
</div>



            <%- include('../includes/end.ejs') %>